<footer id="Contact">
    <h1>CONTACT ME</h1>
    <wrapper>
        <span>
            <p>{{ site.email }}</p>
            <p>+351 960 496 631</p>
        </span>
        <nav>
            <ul>
                <li><a href="https://www.behance.net/anaadelino5e88" title="Behance logo"><img src="imagens/behance.png" alt="Behance" width="25px"></a></li>
                <li><a href="https://www.instagram.com/ana.adelino/" title="Instagram"><img src="imagens/instagram.png" alt="Instagram logo" width="25px"></a></li>
                <li><a href="https://www.linkedin.com/in/ana-adelino-8187a4171/" title="Linkedin"><img src="imagens/linkedin.png" alt="Linkedin logo" width="25px"></a></li>
            </ul>
        </nav>
    </wrapper>
</footer>