@import "variables";

body {
    margin: 0;
}

* {
   box-sizing: border-box; 
}

.menu_background {
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
}

section h1 {
    font-size: 18px;
    font-family: $firsttype;
    color: $textcolor;
    text-align: center;
    padding-bottom: 10%;
    margin: 0;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    font-family: $secondtype;
    color: $textcolor;
    margin: 0;
}

h3 {
    font-size: 14px;
    font-weight: 400;
    font-family: $secondtype;
    color: $legendcolor;
    margin: 10px 0 50px 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    font-family: $secondtype;
    color: $textcolor;
    margin: 20px 0 20px 0;
    max-width: 560px;
}


/*---------My Work---------*/

#My_Work {
    padding: 7%;
    box-shadow: 0 10px 30px 0 rgba(93,93,93,.07);
    
    ul {
        padding: 0;
        display: flex;
        flex-direction: column; 
    }
    
    img {
        width: 100%;
        margin-bottom: 10px; 
    }
}

figure {
    margin: 20px 0 20px 0;
    
    h2 a:hover {
        border-bottom: 3px solid $maincolor;
    }
}

/*---------Media Query---------*/

@media (min-width: 568px) {
    
    .menu_background {
        height: 90px;
    }
}

@media (min-width: 668px) {
    
    #My_Work {
        padding-top: 50px;
    }
    
    .menu_background {
        height: 100px;
    }
    
    section h1 {
        font-size: 22px;
    }
    
    #My_Work ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
        li {
            width: 48%;  
        }
    }
}

@media (min-width: 968px) {
    
    #My_Work ul li {
        width: 31%;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 16px;
        margin: 10px 0 45px 0;
    }
}

@media (min-width: 1224px) {
    
    .menu_background {
        height: 110px;
    }
}