@import "variables";

#Post {
    
    h2, h3, p {
        padding: 0 7% 0 7%;
    }
    
    h2:nth-of-type(1) {
        font-size: 20px;
    }
    
    h2 {
        margin-top: 10%;
    }
    
    figure {
        display: flex;
        justify-content: center;
    }
    
    img {
        width: 100%;
    }
}

h4 {
    font-size: 12px;
    font-weight: 400;
    font-family: $secondtype;
    color: $legendcolor;
    text-align: center;
    margin: 15% 0 5% 0;
}

.last_image {
    margin-bottom: 0;
}

/*---------Media Query---------*/

@media (min-width: 568px) {
    
    h4 {
        font-size: 13px;
        
    }
}

@media (min-width: 668px) {
    
    #Post p {
        max-width: 660px;
    }
}

@media (min-width: 968px) {
    
    h4 {
        font-size: 14px; 
    }
    
    .smaller_image {
        width: 80%;
        margin-left: 10%;
    }
}

@media (min-width: 1024px) {
    
    #Post {
        
        p {
            max-width: 800px;
        }
        
        h2 {
           margin-top: 7%; 
        }
    }
}






