@import url('https://fonts.googleapis.com/css?family=Nunito:700|Source+Sans+Pro:400,600');
$firsttype: 'Nunito', sans-serif;
$secondtype: 'Source Sans Pro', sans-serif;
$maincolor: #5ef44a;
$textcolor: #3B3B3B;
$legendcolor: #999999;